@import url('https://fonts.cdnfonts.com/css/cooper-hewitt?styles=34277');

body {
  margin: 0;
  height: 100%;
  background-color: #e6f1f5;
}

header {
  background-color: #cd606b;
  padding: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.logo {
  font-size: 2px;
  font-weight: bold;
}

#pesquisa-icon {
  cursor: pointer;
}

#barra-pesquisa {
  display: none;
  margin-left: 10px;
}

#barra-pesquisa input {
  padding: 5px;
  border-radius: 3px;
  border: none;
}

.menu-options ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-options ul li {
  margin-right: 100px;
}

.menu-options ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px;

}

.logo img {
  width: 100px;
  height: auto;
  max-height: 100%;
}

#pesquisa-icon img {
  width: 30px;
  height: auto;
}

.quadrado-branco {
  width: 600px;
  height: 350px;
  background-color: white;
  border: 1px solid rgb(255, 251, 251);
  border-radius: 30px;
  display: flex;
  padding: 10px;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 20px;
}

.quadrado-branco h1 {
  text-align: left;
  margin: 0;
  margin-left: 20px;

}

.p {
  text-align: right;
  margin: 0;
}

.imagem {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 20px;
}

.quadrado-branco2 {
  width: 900px;
  height: 350px;
  background-color: white;
  border: 1px solid rgb(255, 251, 251);
  border-radius: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  margin-top: 20px;
  flex-direction: column;
  margin-left: 20px;
}

.quadrado-branco2 h1 {
  text-align: left;
  margin: 0;
  margin-left: 20px;
}

ul {
  list-style: none;
}