@import url('https://fonts.cdnfonts.com/css/cooper-hewitt?styles=34277,34271');
@import url(' https://fonts.cdnfonts.com/css/oswald-4 ');

body {
    font-family: 'Cooper Hewitt', sans-serif;
    margin: 0;
    height: 100%;
    background-color: #e6f1f5;
}

.bloco {
    flex: 1;
    height: 100%;
    display: flex;
}

#menu-perfil {
    background-color: #ffffff;
}

#menu-perfil>h2:first-of-type {
    margin: 20px 20px 20px 30px;
    font-weight: 800;
}

#menu-perfil>h2:not(:first-of-type) {
    padding: 10px 60px 10px 60px;

    background: linear-gradient(to right, #cd606b 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .2s ease-out;
}

#menu-perfil>h2:not(:first-of-type):hover,
#selected {
    background-position: left bottom !important;
    color: #fff;
}

section {
    background-color: #e6f1f5;
}

.container {
    display: flex;
    width: 100%;
}

main {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 96px);
}

#perfil {
    margin-left: 60px;
    margin-bottom: 40px;
    display: flex;
    align-items: flex-end;
}

#perfil h2 {
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

#informacoes-conta ul {
    list-style-type: none;
    margin-top: 40px;
    font-size: 2em;
}

#informacoes-conta li {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}

#informacoes-conta li:nth-last-of-type(2){
    flex-direction: row;
    gap: 20px;
}

#informacoes-conta input:not([type="submit"]) {
    min-width: 220px;
    box-sizing: border-box;
    margin-top: 5px;
    border: none;
    border-bottom: 2px solid black;
    font-family: inherit;
    font-size: inherit;
    font-weight: 800;
}

#informacoes-conta input:not([type="submit"]):disabled {
    background-color: inherit;
    color: inherit;
    font-weight: inherit;
}

#informacoes-conta .editar img {
    width: 15px;
    height: auto;
}

#informacoes-conta .editar {
    background-color: inherit;
    width: 15px;
    height: 15px;
    padding: 0px;
    border: 0px;
}

#informacoes-conta .editar:hover {
    cursor: pointer;
}

#informacoes-conta label {
    font-weight: 800;
    margin-bottom: 15px;
}

.botao input {
    border-radius: 12px;
    border: 1px solid #cc575f;
    color: inherit;
    text-align: center;
    background-color: #cc575f;
    color: #e6f1f5;
    font-size: inherit;
}

.botao input:disabled {
    border: 1px solid #cc575f;
    color: inherit;
    text-align: center;
    background-color: #cc575f;
    color: #e6f1f5;
    font-size: inherit;
}

.botao input:not(:disabled):hover {
    color: #ffffff;
    background-color: #0f7496;
    border-color: #cc575f;
}

.enabled {
    cursor: pointer;
}

@media screen and (max-height: 796px) {
    #menu-perfil {
        overflow-y: scroll;
    }
}