@import url('https://fonts.cdnfonts.com/css/cooper-hewitt?styles=34277,34279,34271');

:root {
    --escala: 1;
    --escala-menor: 1;

    --cor-fundo: #fff;

    --cor-fonte-1: #000;
    --cor-fonte-2: #e6f1f5;

    --cor-borda: #ccc;

    --cor-placeholder: #c0c0c0;

    --font-weight: 100;
}

body {
    color: var(--cor-fonte-1);
    font-weight: var(--font-weight);
    background-color: var(--cor-fundo);
    font-size: calc(1em * var(--escala));
}


.hidden {
    display: none;
}