@import url('https://fonts.cdnfonts.com/css/cooper-hewitt?styles=34277,34271');

body {
    margin: 0;
    height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Cooper Hewitt', sans-serif;
}

main {
    padding: 20px 120px;
}

h1 {
    text-align: center;
    font-weight: 800;
}

section {
    width: 70%;
    max-width: 800px;
    margin: 50px auto 30px auto;
    padding-right: 20px;
    color: #cc575f;
}

section details {
    font-size: 1em;
}

section details summary {
    padding: 2%;
    border-bottom: 2px solid var(--cor-borda);
    cursor: pointer;
}

section details p {
    padding: 2%;
    transition: all 0.5s;
    text-align: justify;
}

@media only screen and (max-width: 600px) {
    main {
        padding: 20px 10px;
        height: 80vh;
        overflow: scroll;
    }
}