.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    z-index: 9999;
}

.rating input {
    display: none;
}

.rating label {
    cursor: pointer;
    transition: color 0.3s;
}

.rating label img {
    width: 30px;
    height: auto;
}

.rating.small label img {
    width: 20px;
}

.rating .checked {
    color: #ffc700;
}